*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  background-color: #ecf0f4;
}

.header{
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
button{
  all: unset;
  margin: 20px 10px;
  padding: 5px 20px;
  border: 1px solid transparent;
  background-color: #48a312;
  border-radius: 5px;
  color: white;
}
.cancel{
  background-color: white;
  color: black;
  border: 1px solid black
}

.table{
  margin: 10px auto;

}
th{
  background-color: #CCC;
  padding: 10px;
}
tr:nth-child(even){
  background-color: #DDD;
}
td{
  text-align: center;
  padding: 10px 30px;
}


/* Form Styles */
form {
  display: grid;
  justify-content: start;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  background-color: #DDD;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}
form h1{
  grid-row: 1 /span 1;
  grid-column: 1 /span 2;
}
input{
  padding: 10px;
  border-radius: 5px;
}
form engName{
  grid-row: 2 /span 1;
  grid-column: 1 /span 1;
}
form arName{
  grid-row: 2 /span 1;
  grid-column: 2 /span 1;
}
.icons{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}


 nav{
  list-style-type: none;
  display: inline-block;
  grid-row: 2 / span 2;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 2px 2px 10px gray;
  background-color: white;
  border-radius: 5px;
  font-family: "Nature Beauty Personal Use";
  margin: 10px;
}
nav li{
  width: calc(100% / 2);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav li:hover{
  border-radius: 5px;
  background-color: black;
  color: white;
  transition: 1s;
  height: transparent;
  width: transparent;
}
nav .styled{
  color: white;
  background-color: black;
  border-radius: 5px;
}


.popup-overlay{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}
.popup-box{
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: #CCC;
  transform: translate(-50%, -50%);
  z-index: 3;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  font-size: 30px;
}
.popup-box p{
  width: calc(100% - 40px);
}
.popup-box button{
  text-decoration: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.popup-box button.yes{
  background-color: #bb2d3b;
}
.popup-box button.Cancel{
  background-color: white;
  color: black;
}